<html>

<head>
    <style>
        html,
        body,
        .contents,
        table {
            font-size: 9pt;
            margin: 0;
            padding: 0;
            font-family: Verdana, Geneva, sans-serif;
        }

        td {
            vertical-align: top;
        }

        /* tr:nth-child(odd) {
            background-color: #F4F3FA;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        } */

        .main td,
        .main th,
        .header td,
        .header th {
            padding: 5px 10px;
        }

        table {
            border-collapse: collapse;
        }

            table.main,
            table.main tr,
            table.main td,
            table.main th {
                border: 1px solid black;
            }

        .header p,
        .header h3 {
            margin: 0;
            padding: 0;
        }

        .header {
            width: 100%;
        }

            .header p {
                font-size: 7pt;
            }

        .logo {
            width: 64px;
            height: 42px;
        }
    </style>
</head>

<body>
    <div style='font-size:9pt;padding:0;font-family: Verdana,Geneva,sans-serif;' class="contents">
        <div style='position:static;z-index:1;padding-left:10px;margin-left:0px;
        border: 1.5px solid #ECEFF1; padding: 20px;border-bottom: 1px dashed #000000;'>
            <table class="header">
                <tr>
                    <td>
                        <img class="logo" src="{{SiteLogo}}" />
                    </td>
                    <td>
                        <h3>{{SiteName}}</h3>
                        <p>{{SiteAddres}}</p>
                        <p>{{SitePhone}}</p>
                        <p>{{SiteEmail}}</p>
                    </td>
                    <td>
                        <h1>OFFICIAL RECEIPT</h1>
                    </td>
                </tr>
            </table>
            <br><br>
                <table>
                    <tr>
                        <td width="100">Nomor OR</td>
                        <td>:</td>
                        <td>{{NoOR}}</td>
                    </tr>
                    <tr>
                        <td>Tanggal</td>
                        <td>:</td>
                        <td>{{TanggalOR}}</td>
                    </tr>
                    <tr>
                        <td>ID Klien</td>
                        <td>:</td>
                        <td>{{PsCode}}</td>
                    </tr>
                    <tr>
                        <td>Unit</td>
                        <td>:</td>
                        <td>{{unitName}} - {{unitNo}}</td>
                    </tr>
                </table>
            <br>
            <p>Dear <b>{{CustName}}</b>,</p>
            <p>Terima kasih atas pembayaran anda.</p>
            <p>
                Kami telah menerima pembayaran anda sejumlah Rp. {{TotalPayment}} , dengan detail sebagai berikut:
            </p>
            <table style="margin-left: -3px;border-collapse: collapse; width: 100%;" class="main">
                <tr style="text-align: left;background-color: #DEE2E8;">
                    <th>No.</th>
                    <th>Deskripsi</th>
                    <th>Cara Bayar</th>
                    <th>Jumlah Pembayaran</th>
                </tr>
                <tbody style="background-color: #ffffff;">
                    {{Deskripsi}}
                    <tr>
                        <td colspan="3" style="text-align: right;">Total:</td>
                        <td>Rp. {{TotalPayment}}</td>
                    </tr>
                </tbody>

            </table>
            <p>Tanda terima ini dicetak oleh komputer dan tidak membutuhkan tanda tangan. </p>
            <br>
            <p> Salam Hormat,</p><br>
                                 <p>Diprint oleh: {{AdminBilling}} / Diprint pada tanggal : {{PrintDateIndo}}</p>
        </div>
        <div style='position:static;z-index:1;padding-left:10px;margin-left:0px;
        border: 1.5px solid #ECEFF1; padding: 20px;'>
            <table class="header">
                <tr>
                    <td>
                        <img class="logo" src="{{SiteLogo}}" />
                    </td>
                    <td>
                        <h3>{{SiteName}}</h3>
                        <p>{{SiteAddres}}</p>
                        <p>{{SitePhone}}</p>
                        <p>{{SiteEmail}}</p>
                    </td>
                    <td>
                        <h1>OFFICIAL RECEIPT</h1>
                    </td>
                </tr>
            </table>
            <br><br>
                <table>
                    <tr>
                        <td width="100">OR Number</td>
                        <td>:</td>
                        <td>{{NoOR}}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>:</td>
                        <td>{{TanggalOR}}</td>
                    </tr>
                    <tr>
                        <td>Client ID</td>
                        <td>:</td>
                        <td>{{PsCode}}</td>
                    </tr>
                    <tr>
                        <td>Unit</td>
                        <td>:</td>
                        <td>{{unitName}} - {{unitNo}}</td>
                    </tr>
                </table>
            <br>
            <p>Dear <b>{{CustName}}</b>,</p>
            <p>Thank you for your payment. </p>
            <p>
                We have received your total payment of Rp. {{TotalPayment}} with details as follows:
            </p>
            <table style="margin-left: -3px;border-collapse: collapse; width: 100%;" class="main">
                <tr style="text-align: left;background-color: #DEE2E8;">
                    <th>No.</th>
                    <th>Description</th>
                    <th>Payment Method</th>
                    <th>Payment Amount</th>
                </tr>
                <tbody style="background-color: #ffffff;">
                    {{Deskripsi}}
                    <tr>
                        <td colspan="3" style="text-align: right;">Total:</td>
                        <td>Rp. {{TotalPayment}}</td>
                    </tr>
                </tbody>
            </table>
            <p>This is a computer generated official receipt and no signature is required.</p>
            <br>
            <p>Best Regards,</p><br>
                                <p>Printed by: {{AdminBilling}} / Printed Date: {{PrintDate}}</p>
        </div>
</body>

</html>