<html>

<head>
    <style>
        html,
        body,
        .contents,
        table {
            font-size: 10pt;
            margin: 0;
            padding: 0;
            font-family: Verdana, Geneva, sans-serif;
        }

        td {
            vertical-align: top;
        }

        .header p {
            font-size: 9pt;
        }

        .main td,
        .main th,
        .header td,
        .header th {
            padding: 5px 10px;
        }

        table {
            border-collapse: collapse;
        }

        .main td,
        .catatan td {
            border: 1px solid black;
        }

        .catatan thead tr td,
        .catatan tbody td {
            vertical-align: middle;
            text-align: center;
            padding: 2px 4px;
        }

        .header p,
        .header h3,
        .header h1,
        h3 {
            margin: 0;
            padding: 0;
        }

        .header,
        .resume-left,
        .resume-right,
        .catatan {
            width: 100%;
        }

        /* table,
        tr,
        th,
        td {
            border: 1px solid red;
        } */

        .child td,
        .resume-right td {
            padding: 5px 0px;
        }

        .ringkasan td {
            padding: 5px;
            border: 1px solid;
        }

        .resume-right td:last-child,
        .resume-left td:last-child,
        .main td:last-child,
        .ringkasan td:last-child {
            text-align: right;
        }

        .main td:first-child,
        .main th:first-child {
            border-left: 0px solid;
        }

        .main td:last-child,
        .main th:last-child {
            border-right: 0px solid;
        }

        .main td:first-child,
        .main td:nth-child(2),
        .main td:nth-child(3),
        .main td:nth-child(4) {
            border-top: 0px solid;
        }

        .main thead {
            box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.08);
        }

        .main tfoot th {
            text-align: right;
        }

        .ringkasan tr:last-child,
        .ringkasan tr:nth-last-child(2) {
            background-color: #DEE2E8;
        }

        .main thead th,
        .main td:first-child,
        .main td:nth-last-child(2) {
            text-align: center;
        }

        .logo {
            width: 64px;
            height: 42px;
        }
    </style>
</head>

<body>
    <div style='font-size:9pt;padding:0;font-family: Verdana,Geneva,sans-serif;' class="contents">
        <div style='position:static;z-index:1;padding-left:10px;margin-left:0px;padding: 20px 30px;'>

            <table style="width: 100%;">
                <tr>
                    <td width="100%">
                        <table>
                            <tr>
                                <td>Unit Code</td>
                                <td>:</td>
                                <td>{{UnitCode}}</td>
                            </tr>
                            <tr>
                                <td>Unit No</td>
                                <td>:</td>
                                <td>{{UnitNo}}</td>
                            </tr>
                            <tr>
                                <td>Client Name</td>
                                <td>:</td>
                                <td>{{CustName}}</td>
                            </tr>
                            <tr>
                                <td>Client Code</td>
                                <td>:</td>
                                <td>{{PsCode}}</td>
                            </tr>
                            <tr>
                                <td>Corresspondential Address</td>
                                <td>:</td>
                                <td>{{CustAlamatKoresponden}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br>

            {{IsiKonten}}
      


        </div>
</body>

</html>