<html>

<head>
    <style>
        html,
        body,
        .contents,
        table {
            font-size: 9pt;
            margin: 0;
            padding: 0;
        }

        td {
            vertical-align: top;
        }

        .i2 {
            margin-left: 10px;
        }

        .i3 {
            margin-left: 20px;
        }

        .m0 {
            margin: 0;
        }

        u {
            text-decoration: underline;
        }

        .right-hand-decoration-container {
            left: 0;
            position: absolute;
            top: 10px;
            z-index: 0;
        }

        .right-hand-decoration {
            width: 80px;
            height: 100%;
        }

        .company-logo-container {
            margin-top: 15px;
            margin-right: 15px;
            position: relative;
            z-index: 0;
            text-align: center;
        }

        .company-logo-container-left {
            margin-top: 15px;
            margin-right: 15px;
            position: relative;
            z-index: 0;
            text-align: left;
        }

        .company-logo {
            width: 50px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .qr-container {
            left: 0;
            position: absolute;
            z-index: 0;
        }

        .terms-and-conditions table tr td {
            text-align: justify;
        }

            .terms-and-conditions table tr td p {
                display: block;
                width: 100%;
                margin: 0;
                padding: 0;
                text-align: justify;
            }

        table,
        th,
        td {
            border-collapse: collapse;
            border: 1px solid black;
        }

        p {
            padding-top: 10px;
        }
    </style>
</head>

<body>
    <div style='font-size:9pt;padding:35px;font-family: Arial, Helvetica, sans-serif' class="contents">
        <div style='position:absolute;z-index:1;padding-left:10px;margin-left:0px;'>
            <p>Dear {{PsName}},</p>

            <p>
                Terima kasih telah melakukan pembayaran billing atas <b>
                    Unit {{unitName}}-{{unitNo}} untuk periode
                    {{periodeName}}
                </b>.
            </p>

            <p>Adapun detail mengenai pembayaran yang telah dilakukan terlampir pada dokumen Official Receipt.</p>

            <p>
                Untuk keterangan lebih lanjut, Bapak/Ibu dapat menghubungi kami melalui nomor telpon : <b>
                    <i>
                        {{sitePhone}} atau
                        email : <a href="mailto:{{siteEmail}}"
                                   style="text-decoration: none;color: black;">{{siteEmail}}</a> atau dapat mengunjungi
                        {{siteAddress}}
                    </i>
                </b>
            </p>

            <p>Atas perhatian dan kerjasama Bapak/Ibu, Kami mengucapkan terima kasih.</p>


            <br><br><br>
            <p>Hormat Kami,<br>{{siteName}}</p>

            <p style="font-size: 8pt;font-style: italic;">
                *Email ini dikirim otomatis oleh sistem, mohon agar tidak
                membalas email ini.
            </p>

        </div>
</body>

</html>