<html>

<head>
    <style>
        html,
        body,
        .contents,
        table {
            font-size: 9pt;
            margin: 0;
            padding: 0;
        }


        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        .main th {
            text-align: center;
            font-weight: 500;
        }

        .main td,
        .main th {
            padding: 5px 10px;
        }
    </style>
</head>

<body>
    <div style='font-size:9pt;padding:30px;font-family: Arial, Helvetica, sans-serif' class="contents">
        <div style='position:static;z-index:1;padding-left:10px;margin-left:0px;'>
            <p>{{location}}, {{SPDate}},</p>

            <p>
                <b>
                    Ref No : {{refNo}}<br>
                    Perihal : Surat Peringatan {{peringatanNo}} Batas Jatuh Tempo Pembayaran Billing
                </b>
            </p>

            <p>Pelanggan yang Terhormat,</p>





            <p>
                Sebelumnya kami mengucapkan terima kasih atas kepercayaan Bapak/Ibu yang telah melakukan pembayaran billing.

                Surat ini merupakan <b>Surat Peringatan {{peringatanNo}}</b> yang di kirim secara otomatis melalu sistem sehubungan dengan belum diterimanya pembayaran billing periode {{periodName}} yang saat ini sudah jatuh tempo.
            </p>

            <p>
                Untuk menghindari denda atas keterlambatan pembayaran tersebut , kami mohon kepada Bapak/ Ibu untuk segera melakukan pembayaran billing selambat lambatnya 7 (Tujuh) hari setelah tanggal surat ini.

            </p>

            <p>
                Berikut kami sampaikan jumlah tagihan dan rekening pembayaran milik Bapak/Ibu:
            </p>

            <p>
                Nama : <b>{{CustName}}</b><br>
                Alamat Korespondensi : {{alamatKorespondensi}}<br>
                Unit : {{UnitCode}}-{{UnitNo}}<br>

            </p>

            <table style="margin-left: -3px;border-collapse: collapse; width: 100%;" class="main">
                <thead>
                    <tr style="text-align: left;background-color: #DEE2E8;">
                        <th>Nomor Invoice</th>
                        <th>Deskripsi</th>
                        <th>Total Tagihan</th>
                        <th>Total Outstanding</th>
                        <th>Bank</th>
                        <th>Nomor Virtual Account</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{invoiceNo}}</td>
                        <td>{{invoiceType}}</td>
                        <td>Rp. {{totalPembayaran}}</td>
                        <td>Rp. {{totalOutstanding}}</td>
                        <td>{{bank}}</td>
                        <td>{{vaNo}}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Mohon abaikan surat ini apabila Bapak/Ibu telah melakukan pembayaran dengan mengirimkan bukti pembayaran melalui email ke <b>{{siteEmail}}</b>
</p>
            <p>
                Untuk keterangan lebih lanjut, Bapak/Ibu dapat menghubungi kami melalui nomor telpon : <b>{{OfficePhone}}</b> atau email :<b>{{siteEmail}}</b> atau dapat mengunjungi {{SiteAddress}}
</p>
          
            <p>
                <br> Atas perhatian dan kerjasama Bapak/Ibu, Kami mengucapkan terima kasih.
            </p>
            <p>Hormat Kami,</p>
            <p>{{SiteName}}</p>
            <p>
                *Surat ini di cetak dan dikirimkan secara eletronik, sehingga berlaku dan sah tanpa tanda tangan dari
                pihak berwenang mewakili {{SiteName}}.
            </p>
            <br><br><br>
            <!--<p style="text-align: center;">
                <b>{{SiteName}}</b><br>
                {{SiteAddress}}<br>
                Telp : {{OfficePhone}} / WA {{SiteHandPhone}} - Email:{{siteEmail}}
            </p>-->
        </div>
    </div>
</body>

</html>