<html>

<head>
    <style>
        html,
        body,
        .contents,
        table {
            font-size: 9pt;
            margin: 0;
            padding: 0;
        }


        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        .main th {
            text-align: center;
        }

        .main td,
        .main th {
            padding: 5px 10px;
        }
    </style>
</head>

<body>
    <div style='font-size:9pt;padding:30px;font-family: Arial, Helvetica, sans-serif' class="contents">
        <div style='position:static;z-index:1;padding-left:10px;margin-left:0px;border-bottom: 1px dashed #000000;'>
            <p>
                Dear, <b>{{CustName}}</b>
            </p>
            <p>
                Kami informasikan bahwa tagihan atas unit anda <b>{{UnitCode}} - {{UnitNo}}</b> untuk bulan
                <b>{{BulanPeriod}}</b> telah
                terbit, dengan detail sebagai berikut :
            </p>
            <table style="margin-left: -3px;border-collapse: collapse; width: 100%;" class="main">
                <thead>
                    <tr style="text-align: left;background-color: #DEE2E8;">
                        <th>Nomor Invoice</th>
                        <th>Deskripsi</th>
                        <th>Total Tagihan</th>
                        <th>Bank</th>
                        <th>Nomor Virtual Account</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{invoiceNo}}</td>
                        <td>{{invoiceType}}</td>
                        <td>Rp. {{totalPembayaran}}</td>
                        <td>{{bank}}</td>
                        <td>{{vaNo}}</td>
                    </tr>
                </tbody>
            </table>
            <p>Untuk mengetahui lebih detail mengenai pembayaran tagihan bisa dilakukan pengecekan di:</p>
            <p>Website : <a href="http://cek.lippo.homes/" target="_blank">http://cek.lippo.homes/</a></p>
            <p>Atau bisa cek melalui aplikasi My Tanjung bunga:</p>
            <a href="https://apps.apple.com/id/app/my-tanjung-bunga/id1581922787" target="_blank">
                <img style="height: 50px;" height="50"
                     src="http://18.140.60.145:1010/Assets/Upload/Icon/appstore.png" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.mylippohome" target="_blank">
                <img style="height: 50px;" height="50"
                     src="http://18.140.60.145:1010/Assets/Upload/Icon/googleplay.png" />
            </a>
            <p>
                Mohon agar segera melakukan pembayaran sebelum memasuki tanggal jatuh tempo, abaikan pesan ini jika anda
                sudah melakukan pembayaran.
            </p>

            <p>Hormat Kami,</p>
            <p>{{SiteName}}</p>
        </div>
        <div style='position:static;z-index:1;padding-left:10px;margin-left:0px;'>
            <p>
                Dear, <b>{{CustName}}</b>
            </p>
            <p>
                We inform you that the invoice for your unit <b>{{UnitCode}} - {{UnitNo}}</b> for <b>{{BulanPeriod}}</b>
                has been issued, with details as follows:
            </p>
            <table style="margin-left: -3px;border-collapse: collapse; width: 100%;" class="main">
                <thead>
                    <tr style="text-align: left;background-color: #DEE2E8;">
                        <th>Invoice Number</th>
                        <th>Description</th>
                        <th>Payment Amount</th>
                        <th>Bank</th>
                        <th>Virtual Account Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{invoiceNo}}</td>
                        <td>{{invoiceType}}</td>
                        <td>Rp. {{totalPembayaran}}</td>
                        <td>{{bank}}</td>
                        <td>{{vaNo}}</td>
                    </tr>
                </tbody>
            </table>
            <p>To find out more details regarding bill payments, you can check at:</p>
            <p>Website : <a href="http://cek.lippo.homes/" target="_blank">http://cek.lippo.homes/</a></p>
            <p>Or you can check through the My Tanjung Bunga application:</p>
            <a href="https://apps.apple.com/id/app/my-tanjung-bunga/id1581922787" target="_blank">
                <img height="50" style="height: 50px;"
                     src="http://18.140.60.145:1010/Assets/Upload/Icon/appstore.png" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.mylippohome" target="_blank">
                <img height="50" style="height: 50px;"
                     src="http://18.140.60.145:1010/Assets/Upload/Icon/googleplay.png" />
            </a>
            <p>
                <i>
                    Please make payment immediately before entering the due date, ignore this message if you have
                    already
                    made a payment.
                </i>
            </p>

            <p>Best regards,</p>
            <p>{{SiteName}}</p>
        </div>
    </div>
</body>

</html>