<html>

<head>
    <style>
        html,
        body,
        .contents,
        table {
            font-size: 10pt;
            margin: 0;
            padding: 0;
            font-family: Verdana, Geneva, sans-serif;
        }

        td {
            vertical-align: top;
        }

        .header p {
            font-size: 9pt;
        }

        .main td,
        .main th,
        .header td,
        .header th {
            padding: 5px 10px;
        }

        table {
            border-collapse: collapse;
        }

        .main td {
            border: 1px solid black;
        }

        .catatan thead tr td,
        .catatan tbody td {
            vertical-align: middle;
            text-align: center;
            padding: 2px 4px;
        }

        .header p,
        .header h3,
        .header h1,
        h3 {
            margin: 0;
            padding: 0;
        }

        .header,
        .resume-left,
        .resume-right,
        .catatan {
            width: 100%;
        }

            /* table,
        tr,
        th,
        td {
            border: 1px solid red;
        } */

            .child td,
            .resume-right td {
                padding: 5px 0px;
            }

        .ringkasan td {
            background-color: #ffffff;
            font-weight: bold;
            padding: 5px;
            border: 1px solid;
        }

            .resume-right td:last-child,
            .resume-left td:last-child,
            .main td:last-child,
            .ringkasan td:last-child {
                text-align: right;
            }

        .main td:first-child,
        .main th:first-child {
            border-left: 0px solid;
        }

        .main td:last-child,
        .main th:last-child {
            border-right: 0px solid;
        }

        .main td:first-child,
        .main td:nth-child(2),
        .main td:nth-child(3),
        .main td:nth-child(4) {
            border-top: 0px solid;
        }

        .main thead,
        .resume-right tr {
            box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.08);
        }

            .main thead th,
            .main td:first-child,
            .main td:nth-last-child(2) {
                text-align: center;
            }

        .logo {
            width: 64px;
            height: 42px;
        }

        .catatan tr,
        .catatan tr th,
        .catatan tr td {
            border: 1px solid black;
        }

        td[rowspan] {
            position: relative;
        }

            td[rowspan]:before {
                position: absolute;
                content: "";
                top: -1px;
                left: -1px;
                border: solid black 1px;
                width: 100%;
                height: 100%;
            }
    </style>
</head>

<body>
    <div style='font-size:9pt;padding:0;font-family: Verdana,Geneva,sans-serif;' class="contents">
        <div style='position:static;z-index:1;padding-left:10px;margin-left:0px;padding: 20px 30px;'>
            <table class="header">
                <tr>
                    <td width="10%">
                        <img class="logo" src="{{SiteLogo}}" />
                    </td>
                    <td width="40%">
                        <h3>{{SiteName}}</h3>
                        <p>{{SiteAddres}}</p>
                        <p>{{SitePhone}}</p>
                        <p>{{SiteEmail}}</p>
                    </td>
                    <td width="50%">
                        <h1>INVOICE</h1>
                        <h3>Tagihan Air</h3>
                        <table class="child">
                            <tr>
                                <td width="100">Nomor Invoice</td>
                                <td>:</td>
                                <td>{{NomerInvoice}}</td>
                            </tr>
                            <tr>
                                <td>Tanggal Cetak</td>
                                <td>:</td>
                                <td>{{InvoiceDate}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br><br>
            <table style="width: 100%;">
                <tr>
                    <td width="40%">
                        <p>KEPADA:</p>
                        <p style="border-bottom: solid black 2px;"><b>{{CustName}}</b></p>
                        <table>
                            <tr>
                                <td>Kode Pelanggan</td>
                                <td>:</td>
                                <td>{{PsCode}}</td>
                            </tr>
                            <tr>
                                <td>Handphone</td>
                                <td>:</td>
                                <td>{{CustPhone}}</td>
                            </tr>
                            <tr>
                                <td>Alamat Email</td>
                                <td>:</td>
                                <td>{{CustEmail}}</td>
                            </tr>
                            <tr>
                                <td>Alamat Korespondensi</td>
                                <td>:</td>
                                <td>{{CustAlamatKoresponden}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="10%"></td>
                    <td width="50%">
                        <p>RINGKASAN:</p>
                        <table class="ringkasan">
                            <tr>
                                <td>Bulan</td>
                                <td>{{BulanPeriod}}</td>
                            </tr>
                            <tr>
                                <td>Jumlah yang harus dibayarkan</td>
                                <td style="text-align: right;">Rp. {{JumlahyangHarusDibayar}}</td>
                            </tr>
                            <tr>
                                <td>Jatuh Tempo</td>
                                <td>{{BulanJatuhTempo}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br>
            <p>RINCIAN TAGIHAN ({{UnitName}} - {{UnitNo}}) :</p>
            <table style="margin-left: -3px;border-collapse: collapse; width: 100%;" class="main">
                <thead>
                    <tr style="background-color: #DEE2E8;">
                        <th>NO</th>
                        <th>DESKRIPSI</th>
                        <th>TANGGAL</th>
                        <th>JUMLAH</th>
                    </tr>
                </thead>
                <tbody>
                    {{Deskripsi}}
                </tbody>
            </table>
            <br>
            <table style="width: 100%;">
                <tr>
                    <td>
                        <h3>PEMBAYARAN VIA VA</h3>
                        <table>
                            <tr>
                                <td>Bank</td>
                                <td>:</td>
                                <td><b>{{VaBank}}</b></td>
                            </tr>
                            <tr>
                                <td>Nomor Virtual Account</td>
                                <td>:</td>
                                <td><b>{{VaNo}}</b></td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>a/n {{CustName}}</b> </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="resume-left">
                            <tr>
                                <td>Tagihan Bulan {{BulanPeriod}}</td>
                                <td>Rp. {{TagihanBulanIni}}</td>
                            </tr>
                            <tr>
                                <td>Tagihan s/d Bulan {{BulanPeriod}}</td>
                                <td>Rp. {{TagihanSampaiBulanIni}}</td>
                            </tr>
                        </table>
                        <p style="border-bottom: 1px solid black;"></p>
                        <table class="resume-right">
                            <tr style="background-color: #DEE2E8;">
                                <td><b>JUMLAH YANG HARUS DIBAYARKAN</b></td>
                                <td><b>Rp. {{JumlahyangHarusDibayar}}</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br><br><br><br>
            <p>LAPORAN PEMAKAIAN AIR:</p>
            <table class="catatan">
                <thead style="background-color: #DEE2E8;">
                    <tr>
                        <td colspan="3">Pencatatan Meter Air (m3)</td>
                        <td colspan="3">
                            Perhitungan Pemakaian<br>
                            Air Bersih (Rp. / m3)
                        </td>
                        <td rowspan="2">Biaya Pemakaian Air Bersih (Rp.)</td>
                        <td rowspan="2">Biaya Pemeliharaan Meter Air (Rp.)</td>
                        <td rowspan="2">Jumlah Tagihan Air (Rp.)</td>
                    </tr>
                    <tr>
                        <td>Awal</td>
                        <td>Akhir</td>
                        <td>Pemakaian</td>
                        <td>Int.1</td>
                        <td>Int.2</td>
                        <td>Int.3</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">{{PencatatanAwal}}</td>
                        <td rowspan="3">{{PencatatanAkhir}}</td>
                        <td rowspan="3">{{Pemakaian}}</td>
                        <td>{{Int1m3}}</td>
                        <td>{{Int2m3}}</td>
                        <td>{{Int3m3}}</td>
                        <td rowspan="3">Rp. {{PemakaianAirBersih}}</td>
                        <td rowspan="3">Rp. {{BiayaPemeliharaan}}</td>
                        <td rowspan="3">Rp. {{JumlahTagihanAir}}</td>
                    </tr>
                    <tr>
                        <td>Rp. {{Int1Nominal}}</td>
                        <td>Rp. {{Int2Nominal}}</td>
                        <td>Rp. {{Int3Nominal}}</td>
                    </tr>
                    <tr>
                        <td>Rp. {{Int1Tagihan}}</td>
                        <td>Rp. {{Int2Tagihan}}</td>
                        <td>Rp. {{Int3Tagihan}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>

</html>